<tr>
    <td>
    <span class="content"><%= source.name %></span>
    </td>
    <td>
    <span class="content"><%= source.period %></span>
    </td>
    <td>
    <span class="content"><%= source.year %></span>
    </td>
    <td>
    <span class="content"><%= source.songs.count %></span>
    </td>

  <td>

  <%= link_to "Show", source %>
  </td>
</tr>