
<%= form_for :data, url: trivia_simplesubmit_path do |f| %>


    <%= hidden_field_tag :song_id, song.id %>

<div class="card">
<div class="card-body">
        <%= f.label "Anime name: " %>
    <div class="row">
        <div class="col-md-3">
            <%= f.text_field :answer, :data => {:autocomplete => trivia_autocomplete_song_source_path}, class: "form-control" %>
        </div>

        <div class="col-md-3">
            <%= f.submit "submit", class: "btn btn-primary"%>
        </div>
    </div>
</div>
</div>
<% end %>