<h1 class="display-4">Select Playlist</h1>

<div class="container-fluid">

<%= form_for_filterrific @filterrific,html: { id: 'filterrific-no-ajax-auto-submit', autocomplete: "off" } do |f| %>
  <div class="card card-body bg-light">
    <div class="row">
  <div class="col-md-3">
    Search
    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
    <%= f.text_field(
      :search_query,
      class: 'filterrific-periodically-observed form-control'
    ) %>
  </div>
  <div class="col-md-3">
    Sorted by
    <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by], {}, 
      class: 'form-control') %>
  </div>

  <div class="col-md-2">
    Filter
    <%= f.submit 'Filter',:method => :get, class: "btn btn-primary" %>
  </div>
  

  <div class="col-md-2">
  Reset filters<%= link_to "Reset filters", reset_filterrific_url, :class => 'btn btn-primary' %>
  </div>
</div>
  </div>
<% end %>


<div class="row">
            <% @playlists.each do |playlist| %>

		<div class="col-lg-6">
                <div class="card m-2" >
                    <div class="card-body">
                        <h5 class="card-title"><%= playlist.name %></h5>
                        <p class="card-text"><%= playlist.description %></p>
                        <%= link_to "Play",trivia_playlist_url(playlist: playlist, start: false), method: :post ,class: "btn btn-primary" %>
                    </div>
                </div>
        </div>
            <% end %>


</div>

<%= page_entries_info @playlists, :model => 'playlist' %>

<%= will_paginate @playlists, :param_name => :premade_playlist_page %>
</div>



