<tr>

  <td><%= song.source_name%></td>
  <td><%= song.song_type%></td>
  <td><%= song.song_title %></td>
  <td><%= song.song_artist%></td>
  <td><%= song.source_period%></td>
  <td><%= song.popularity%></td>
  <td>

  <%= link_to "Show", song, class: "btn btn-primary"  %>
  

  <%# if logged_in? && current_user.admin?%>

   <%# link_to "Edit", edit_song_path(song),class: "btn btn-primary"  %>
   <%# link_to "Delete", song , method: :delete,
                                  data: { confirm: "You sure?" },class: "btn btn-primary"  %>
  
  <%# end %>
  </td>
</tr>