<tr>
  <td><%=  song.song_title %></td>
  <td><%= song.song_artist%></td>
  <td><%= song.song_type%></td>
  <td><%= song.source%></td>
  <td>
  <%= link_to "Show", song %>
  <% if logged_in? && admin_user? %>
  | <%= link_to "Edit", edit_song_path(song) %>
  | <%= link_to "Delete", song , method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %></td>
</tr>