<% provide(:title, 'All Songs') %>
<h1>All Songs</h1>

<% if logged_in? && admin_user? %>
<%= link_to "Add Song", new_song_path, class: "btn btn-small btn-primary" %>
<% end %>
<br/>


<%#
  Filterrific adds the `form_for_filterrific` view helper:
  * adds dom id 'filterrific_filter'
  * applies javascript behaviors:
      * AJAX form submission on change
      * AJAX spinner while AJAX request is being processed
  * sets form_for options like :url, :method and input name prefix
%>
<%= form_for_filterrific @filterrific, html: { id: 'filterrific-no-ajax-auto-submit', autocomplete: "off" } do |f| %>
  <div class="well well-small">
    <div class="row">
  <div class="col-md-3">
    Search
    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
    <%= f.text_field(
      :search_query,
      class: 'filterrific-periodically-observed form-control'
    ) %>
  </div>
  <div class="col-md-3">
    Sorted by
    <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by], {}, 
      class: 'form-control') %>
  </div>

  <div class="col-md-2">
    Filter
    <%= f.submit 'Filter', class: "btn btn-primary" %>
  </div>
  <%# add an automated spinner to your form when the list is refreshed %>
  <%= render_filterrific_spinner %>
</div>
  </div>
<% end %>

<%= render(
  partial: 'list',
  locals: { songs: @songs }
) %>
