

<%#
  Filterrific adds the `form_for_filterrific` view helper:
  * adds dom id 'filterrific_filter'
  * applies javascript behaviors:
      * AJAX form submission on change
      * AJAX spinner while AJAX request is being processed
  * sets form_for options like :url, :method and input name prefix
%>
<%= form_for_filterrific @filterrific,html: { id: 'filterrific-no-ajax-auto-submit', autocomplete: "off" } do |f| %>
  <div class="card card-body bg-light">
    <div class="row">
  <div class="col-md-3">
    Search
    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
    <%= f.text_field(
      :search_query,
      class: 'filterrific-periodically-observed form-control'
    ) %>
  </div>
  <div class="col-md-3">
    Sorted by
    <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by], {}, 
      class: 'form-control') %>
  </div>

  <div class="col-md-2">
    Filter
    <%= f.submit 'Filter',:method => :get, class: "btn btn-primary" %>
  </div>
  <%# add an automated spinner to your form when the list is refreshed %>
  <%= render_filterrific_spinner %>
</div>
  </div>
<% end %>

<div class="card card-body bg-light">
  <div class="pull-right" data-intro="Reset the filter settings to defaults." data-position="bottom">
    <%= link_to "Reset filters", reset_filterrific_url, :class => 'btn btn-primary btn-sm' %>
  </div> 
  <%= page_entries_info @songs, :model => 'song' %>
</div>

<table class="table">
  <tr>
    <th>
      Source
    </th>
    <th>Song Type</th>
    <th>Song Title</th>
    <th>Song Artist</th>
    <th>Source Period</th>
    <th>Popularity </th>
    <th>Actions</th>
  </tr>

<% @songs.each do |song| %>
    <tr>

    <td><%= song.source%></td>
    <td><%= song.song_type%></td>
    <td><%= song.song_title %></td>
    <td><%= song.song_artist%></td>
    <td><%= song.source_period%></td>
    <td><%= song.popularity%></td>
    <td>
    

    <% if logged_in? && (current_user.id == @playlist.user_id) %>

      <%= form_for(@playlist.active_relationships.build) do |f| %>
        <div><%= hidden_field_tag :playlist_id, @playlist.id %></div>
        <div><%= hidden_field_tag :song_id, song.id %></div>
      <%= f.submit "Add", class: "btn btn-primary" %>
      <% end %>
    <% end %>
    </td>
    </tr>

<% end %>

</table>

<%= will_paginate @songs%>