
<%= link_to 'Back', :back, class: "btn btn-small btn-primary" %>
<div class="container">

<div class="row justify-content-center">
    <div class ="card card-body">
                <table class="table">
                <th>Name</th>
                <th>Description</th>
                <th>Difficulty</th>
                <th>Plays </th>
                <tr>
                <td><%=  @playlist.name %></td>
                <td><p><%=  @playlist.description %></p></td>
                <td><%=  @playlist.difficulty %></td>
                <td><%=  @playlist.plays %></td>
                </tr>
                </table>
    </div>
</div>

<div class="row">
    <div class="col-md">

        <div class="card card-body">
        <h2>Current Songs</h2>

       <% if !@playlist_songs.nil? && @playlist_songs.length > 0 %>
        <%= render "playlist_songlist"%>
        <% else %>

        <h4>No Songs in this playlist!</h2>
        <% end %>
        </div>
    
    </div>



<%if logged_in? && (current_user.id == @playlist.user_id)%>
    
    <div class="col-md">
    <div class="card card-body">
    <h2>Add Songs to Playlist</h2>

    <%= render "playlist_add_songs"%>

    </div>
    </div>
<% end%>

</div>


</div>


