
<%= link_to 'Back', :back, class: "btn btn-small btn-primary" %>

<div class="panel panel-default">

    <div class="panel-body">

        Name: <%=  @playlist.name %><br/>
        Description: <%=  @playlist.description %><br/>
        Difficulty: <%=  @playlist.difficulty %><br/>
        Plays: <%=  @playlist.plays %><br/>

    </div>
</div>
